<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Item</title>
    <style>
        input {
            font-size: 1rem;
        }
    </style>
</head>
<body>

<h1>Create Expenses</h1>

<form action="/api/item" method="post">
    {{ template "item_form" . }}
</form>

<br><a href="/item">Back</a>

</body>
</html>