<html>
<body>
<h1>
    Expenses
</h1>
<a href="/item/new" style="font-size: 1rem;">Add new</a>
<table style="border-spacing: 10px; text-align: center;">
    <thead>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Category</th>
        <th>CreatedAt</th>
        <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>

    {{ range .items }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Amount }}</td>
        <td>{{ .Category.Name }}</td>
        <td>{{ .CreatedAt | formatAsDate }}</td>
    </tr>
    {{ end }}

    </tbody>
</table>
</body>
</html>